<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Caesar encoder</h1>
<form action="#" th:action="@{/login}" method="post">
    <label for="name">text</label>
    <input type="text" id="name" name="nameOfPet" />
    <label for="number">number</label>
    <input type="number" id="number" name="number" />

    <input type="submit" value="login" />
    <p th:text="${encodedText}"></p>
</form>
</body>
</html>