article {
    width: 700px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
h1,h2 {
    text-align: center;
}
h2{
    color: grey;
    font-weight: lighter
}
p {
    font-style: italic
}
img {
    width: 100%;
}