<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Caesar encoder</h1>
<form action="#" th:action="@{/useful/caesar}" method="post">
    <label for="text">text</label>
    <input type="text" id="text" name="textToEncode" required/>
    <label for="number">number</label>
    <input type="number" id="number" name="number" required/>

    <input type="submit" value="submit" />
    <p th:text="${encodedText}"></p>
</form>
</body>
</html>